{% extends 'VexBookstoreBundle::layout.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>Books <small>Complete listing</small></h1>
    </div>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ISBN</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr itemscope itemtype="http://schema.org/Book">
                    <td><a itemprop="isbn" href="{{ path('book', { 'isbn': book.isbn }) }}">{{ book.isbn }}</a></td>
                    <td><a itemprop="name" href="{{ path('book', { 'isbn': book.isbn }) }}">{{ book.name }}</a></td>
                    <td><a itemprop="description" href="{{ path('book', { 'isbn': book.isbn }) }}">{{ book.description }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}