{% extends 'VexBookstoreBundle::layout.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>Books <small>Found {{ books|length }} results for "{{ search }}"</small></h1>
    </div>

    <div>
        {% if books %}
            <table class="table search">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr itemscope itemtype="http://schema.org/Book">
                        <td><a href="{{ path('book', { 'isbn': book.isbn }) }}"><img src="{{ book.imgurl }}" itemprop="image" alt="Book Picture." /></a></td>
                        <td itemprop="name"><a href="{{ path('book', { 'isbn': book.isbn }) }}">{{ book.name }}</a></td>
                        <td itemprop="description">{{ book.description[:300] ~ '...' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning">
                Oooops! Your search found absolutely <strong>nothing</strong>. Please try using other words.
            </div>
        {% endif %}
    </div>
{% endblock %}